<div id="menu">

<ul id="item1">
<li class="top"><a href='/'>Back to index</a></li>
<!-- <li class="item"><a href="#">menu item 1</a></li>
<li class="item"><a href="#">menu item 2</a></li>
<li class="item"><a href="#">menu item 3</a></li> -->
</ul>

<ul id="item2">
<li class="top"><a href='/recon'>Start over</a></li>
<!-- <li class="item"><a href="#">menu item 1</a></li> -->
</ul>

</div>
<div class="clear"></div>
<!-- menu end -->

<h3>Reconciliation Tool</h3>     

<form method="post" action="/submit" enctype="multipart/form-data" >
	<table class='simple'>
		<tr>
			<th></th><th>List to compare</th><th></th><th>Master list</th>
		</tr>
		<tr>
			<td></td><td></td>
			<td class="label">Master list URLs:</td>
			<td>
				<select name="url_e" >
					<option selected value='none' %> - - Choose an Master list URL - -</option>
					<% @mfile_names.each do |mfile_name| %>
						<option class='pretty'> <%= mfile_name %> </option>
          <% end %>
				</select>
			</td>
		</tr>
		<tr>
	    <td class="label">Upload File 1:</td>
	    <td><input type='file' name='upload1' id='my_upload'/></td>
	    <td class="label">Upload file 2:</td>
	    <td><input type='file' name='upload2' id='my_upload'/></td></tr>
		<tr>
	    <td class="label">Enter URL 1:</td>
	    <td><input type=text id='my_input' name=url1></td>
	    <td class="label">Enter URL 2:</td>
	    <td><input type=text id='my_input' name=url2></td></tr>
		<tr>
	    <td class="label">Enter Free Text:</td>
	    <td><textarea id='my_textarea' name='freetext1'></textarea></td>
	    <td class="label">Enter Free Text:</td>
	    <td><textarea id='my_textarea' name='freetext2'></textarea></td>
		</tr>
	</table>
	<br/>
	<input type=submit value='Submit'>
	<!-- <input type=hidden name=func value=submit> -->
</form>