<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
	<title>BoA Names Services Development Site</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
	<%#= File.dirname(__FILE__) + "/../stylesheets/main.css" %> 
	<!-- /Users/anna/work/sinatra/Web-Service-for-names-tools/sinatra/views  -->
	
	
	<!-- <link href="main.css" rel="stylesheet" type="text/css"> -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 </head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2>Scientific Names Tools</h2>     
			<br />
		</div> <!-- header end-->

		<div id="content">
			<%= yield %>
		</div>
	</div> <!-- wrapper end-->

	<div id="footer">
		<div class='brought_to_you_by col-6'>
		<p>Names Tools is brought to you by the <a href="http://aging.ubio.org/blog/?page_id=36/" class="external_link">Biology of Aging</a> project at the <a href="http://www.mblwhoilibrary.org"  class="external_link">MBLWHOI Library</a></p>

		<p>
		<a href="http://www.biologyofaging.org/" class="img_link external_link" target="_blank"><img alt="Logo of the Biology of Aging" src="/images/logo_boa.gif" /></a>
		<a href="http://www.mblwhoilibrary.org/" class="img_link external_link" target="_blank"><img alt="Logo of the MBL-WHOI Library" src="/images/mblwhoi-color.gif" /></a>
		<!-- <a href="http://www.nlm.nih.gov/" class="img_link external_link" target="_blank"><img alt="Logo of the National Library of Medicine" src="/images/logo_nlm.gif" /></a>
		<a href="http://www.nih.gov/" class="img_link external_link" target="_blank"><img alt="Logo of the National Institutes of Health" src="/images/logo_nih.gif" /></a>
		<a href="http://www.hhs.gov/" class="img_link external_link" target="_blank"><img alt="Logo of the U.S. Department of Health and Human Services" src="/images/logo_dhhs.gif" /></a> -->
		<a href="http://www.ellisonfoundation.org" class="img_link external_link" target="_blank"><img alt="Logo of the Ellison Medical Foundation" src="/images/logo_ellison.gif" /></a>
		</p>
		</div>
		<div class='contact_links col-3 last'>
		<a href="/contact_us">Contact Us</a>
		</div>
		<br />
	</div> 
	<!-- footer end -->
</body>
</html>
