<div id="menu">

<ul id="item1">
<li class="top"><a href='/'>Back to index</a></li>
</ul>

<ul id="item2">
<li class="top"><a href='/recon'>Start over</a></li>
</ul>

</div>
<div class="clear"></div>
<!-- menu end -->

<h3>Reconciliation Tool</h3>     
<p/> Total strings: <%= @rec_num %>

<br />
<br />
<table class='nice'>
	<tr>
	  <th>Name to compare</th><th></th>
	  <th>Matched name</th>
	</tr>   
	<% @arr.each do |name| %>
		<tr>
			<td><%= name.keys[0] %></td> <td>---></td> <td><%= name.values[0]%></td>
		</tr>
	<% end %>
</table>
