<div id="menu">

<ul id="item1">
<li class="top"><a href='/'>Back to index</a></li>
<!-- <li class="item"><a href="#">menu item 1</a></li>
<li class="item"><a href="#">menu item 2</a></li>
<li class="item"><a href="#">menu item 3</a></li> -->
</ul>

<ul id="item2">
<li class="top"><a href='/neti_tf'>Start over</a></li>
<!-- <li class="item"><a href="#">menu item 1</a></li> -->
</ul>

</div>
<div class="clear"></div>
<!-- menu end -->


<h3>Neti Neti Taxon Finder</h3>     

<br/>
<form method="post" action="/tf_result" enctype="multipart/form-data" >
	<table class='simple'>
		<tr>
			<td class="label">Example URLs:</td>
			<td>
				<select name="url_e" class='my_input'>
					<option selected value='none' %> - - Choose an Example URL - -</option>
					<% @examples.each do |example| %>
						<option class='pretty'> <%= example %> </option>
          <% end %>
				</select>
			</td>
		</tr>
		<tr>
	    <td class="label">Upload File:</td>
	    <td><input type='file' id='my_upload' name='upload'></td>
		<tr>
	    <td class="label">Enter URL:</td>
	    <td><input type='text' id='my_input' name='url'></td>
		<tr>
	    <td class="label">Enter Free Text:</td>
	    <td><textarea id='my_textarea' name='text'></textarea></td>
		</tr>
	</table>
	<br/>
	<input type=submit value='Submit'>
</form>