<h3>Neti Neti Taxon Finder</h3>     

<a href='/neti_tf'>Start over</a>
<form method="post" action="/tf_result" enctype="multipart/form-data" >
	<table class='simple'>
		<tr>
			<td class="label">Example URLs:</td>
			<td>
				<select name="url_e" class='my_input'>
					<option selected value='none' %> - - Choose an Example URL - -</option>
					<% @examples.each do |example| %>
						<option class='pretty'> <%= example %> </option>
          <% end %>
				</select>
			</td>
		</tr>
		<tr>
	    <td class="label">Upload File:</td>
	    <td><input type='file' class='my_input' name='upload'></td>
		<tr>
	    <td class="label">Enter URL:</td>
	    <td><input type='text' class='my_input' name='url'></td>
		<tr>
	    <td class="label">Enter Free Text:</td>
	    <td><textarea rows='3' class='my_input' name='text'></textarea></td>
		</tr>
	</table>
	<br/>
	<input type=submit value='Submit'>
</form>