* {margin: 0; padding: 0;}
body, div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {
	border: 0;
}

body {
	padding: 20px 0; 
	font: 0.8em/1.5 "arial", sans-serif; 
	text-align: center;
	background: #FFF; 
	color: #000;
}

/*div#content {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
*/
/*h1, h2 {margin: 15px 0 10px 0;}
h3, h4, h5, h6 {margin: 5px 0 10px 0;}
h1 {font-size: 260%; font-weight: normal; letter-spacing: -1px;}
h2 {font-size: 160%; font-weight: normal;}
h3 {font-size: 140%; font-weight: normal;}
h4, h5 {font-size: 100%;}
*/
/*p, ul, ol, dl, fieldset {margin: 10px 0;}
table {margin-left: auto; margin-right: auto; border-collapse: collapse; border-spacing: 0; font-size: 100%;}
*/
/*th {text-align: left; font-weight: bold;}
*//*th, td {padding: 3px 7px;}*/

/*ul, ol {margin-left: 30px;}
ul ul, ol ol {margin: 0; margin-left: 20px;}
ol {list-style-type: decimal;}
li {display: list-item;}
*/
/*form {width: 70%;}*/
/*form {margin-left: auto; margin-right: auto;}*/
form p label {
	float: left;
	text-align: right;
	width: 17em;
/*	padding: 0px 5px;*/
}

input[type="submit"] {
	padding: 2px; 
	font: normal 100%/1.2 "arial",sans-serif;
	border: 0.1em solid #46a912; 
	background: #46a912; 
	color: #FFF;
}

td.label{
	float: left;
	text-align: right;
	padding-left: 0.4em; 
}

option.pretty {padding-left: 0.1em;}

.my_input {width: 100%; background:#f6f6f6;}
/*input.my_size  {size: 100%; background:#ededed;}*/
/*textarea.my_width {width: 34em;}*/

/*div#wrapper {text-align: center;}*/
table {
	margin-left: auto;
	margin-right: auto;
/*	width: 70%;*/
	text-align: left;
	
}

/* @group TABLES */
table.nice{
	border-spacing: 2px 2px;
	border-collapse: separate; 
}
table.nice tr{
	background-color: #f6f6f6;
}
table.nice td{
	padding: 0.2em 0.5em;
}
table.nice td.label{
	float: right;
	padding-right: 0.8em;
}
table.nice a {
	border-style: none;
}
table.nice a: hover {
	text-decoration: underline;
}

th{
/*	padding: 0px 5px;*/
/*	margin: 0px;*/
	font-weight: bold;
	text-align: center;
}

/* @end */

/* menu group */
    #menu {
    width: 100%;
    background: #ffffff;
    float: left;
    border-bottom:1px solid #ccc;
    }

/*Next we will create list object for our css menu*/

    #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 13em;
    float: left;
    background:#f6f6f6;
    }

/*Anchor tag css drop down menu styling of first ul layer*/

    #menu ul a {
    font: wider  12px/16px arial, helvetica, sans-serif;
    font-weight:bold;
    color:#317b94;
    text-transform:uppercase;
    display: block;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
    margin: 0;
    padding: 5px 5px;
    }

/*Nice bordering to the first a tag to fit all the design*/

    #menu a.first{
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    }

/*Designing secondary lists and a tags of our css dropdown menu*/

    #menu ul li ul a{
    border:none;
    background:#fff;
    color:#3d6876;

    }

    #menu ul li ul a:hover{
    background:#a2d9ec;
    color:#fff;
    }

    #menu ul li ul {
    border:1px solid #3d6876;
    }

/*All menu that opened on hover*/

    #menu a {
    color: #000;
    background: #f6f6f6;
    text-decoration: none;
    }

    #menu a:hover {
    color: #fff;
    background: #45b4da;
    }
    #menu li {position: relative;}

    #menu ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    }

    #menu ul ul {
    position: absolute;
    z-index: 500;
    }
    div#menu ul ul,
    div#menu ul li:hover ul ul,
    div#menu ul ul li:hover ul ul
    {display: none;}

    div#menu ul li:hover ul,
    div#menu ul ul li:hover ul,
    div#menu ul ul ul li:hover ul
    {display: block;}

/* menu end */